.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    min-width: 30%;
    min-height: 70%;
    
  }
  .inp-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 25px;
  }
  .inp-container > label{
    margin-bottom: 10px;
  }
  .inp-container input {
    width: 100%;
    font-size: 24px;
  }
.address-box{
    height: 200px;
    resize: none;
    box-sizing: border-box;
    font-size: 24px;
}
.gender-container{
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.gender-container p{
    text-align: center;
    margin-bottom: 15px;
}
 label[for="female"]{
    margin-left: 25px;
 
}

  .popup-card button {
    background-color: #2196f3;
    color: #fff;
    border: none;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .popup-card button:hover {
    background-color: #0c7cd5;
  }
  