.card{
    width: 100%;
    max-height: fit-content;
    background-color: #ffff;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.search-box{
    padding: 3px;
    font-size: 25px;
}
.header div{
    display: flex;
    justify-content: space-around;
}
.header div h1{
    font-weight: 300;
    font-size: 2rem;

 }
.logo-people{
    width: 4em;
    height:4em;
    margin: 0 3em;
    color: rgb(89 89 248);
}
.logo-add-person{
    width: 4em;
    height:4em;
    margin: 0 3em;
    color: rgb(89 89 248);
}
.logo-add-person:hover{
   color: #3434cb;
}
table,tbody,thead{
    width :100%;
    text-align: center;
}
th{
    padding: 10px;
}
.action-logo{
    margin: 10px;
}
tbody>tr td{
    margin: -1px;
    border-bottom: 1px solid black;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #aaa;
    color: #fff;
  }
  
  