#popupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .popup-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 1rem ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  #yesBtn{
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  #closeBtn {
    background-color: #87200bfb;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
  